@import "../../colors.scss";

.skills-page-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: $primary-dark-bg;
    color: white;
    display: flex;
    flex-direction: column;
}

.skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37rem;
    width: 92rem;
    gap: 3rem;
    transition: transform 0.5s ease; 
}

.skill-card-wrapper{
    overflow: hidden;
    min-width:81rem;
    min-height: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-card-container {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    overflow: auto;
    height: inherit;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    // transform: translateX(-40%);
}

.skill-card {
    cursor: pointer;
    display: flex;
    border: 1px solid gray;
    border-radius: 4px;
    flex-direction: column;
    height: 16rem;
    width: 16rem;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border: 1px solid #1b1b1b;
    border-radius: 50%;

    .skill-icon-div {
        height: 9rem;
        flex: 1;
    }

    &:hover {
        border-color: #14FF00;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #0b0b0b;
    }

}

.skill-icon {
    height: 9rem;
    user-select: none;
}

.skill-details {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    color: white;
    width: 100%;
    font-size: 1.6rem;

    #skill-label {
        flex: 1;
    }
}

.skills-page-header-label {
    padding-left: 10rem;
    padding-top: 5rem;
}

.skill-icon-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev-icon-carousal,
.next-icon-carousal {
    height: 40px;
    width: 30px;
    top: 50%;
    left: 0;
    cursor: pointer;

    &:hover{
        transform: scale(1.2);
    }
}

.next-icon-carousal {
    transform: rotate(180deg);
    &:hover{
        transform: rotate(180deg) scale(1.2);
    }
}

.skills-container .carousal-dots-container {
    flex-direction: row;
}

.carousal-dots-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.carousal-dot {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background-color: $primary-button-hover;
    }

}

.carousal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    top: 50%;
    gap: 1rem;
    transform: translate(-50%, -50%);
}

.carousal-dot.active {
    background-color: white;
    transform: scale(1.4);
}

.skills-header{
    position: relative;
    left: 5%;
    top: 10%;
    font-size: 3rem;
    width: fit-content;
    padding: 3px 9px 3px 9px;

    &:after{
        content: "";
        width: 27%;
        height: 80%;
        border-top: 3px solid $primary-flash-green;
        border-left: 3px solid $primary-flash-green;
        left: 0;
        // border-radius: 3px;
        position: absolute;
        margin-top: -2%;
    }

    &:before{
        content: "";
        width: 27%;
        height: 80%;
        border-bottom: 3px solid $primary-flash-green;
        border-right: 3px solid $primary-flash-green;
        right: 0;
        margin-top: 1%;
        position: absolute;
    }
}

