<div class="skills-page-wrapper">
  <angular-tag-cloud [data]="data" [width]="tagCloudoptions.width" [height]="tagCloudoptions.height" [overflow]="tagCloudoptions.overflow"
    [zoomOnHover]="zoomOnHoverOptions" [realignOnResize]="tagCloudoptions.realignOnResize">
  </angular-tag-cloud>
  <apx-chart #chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis" [dataLabels]="chartOptions.dataLabels" [fill]="chartOptions.fill"
    [stroke]="chartOptions.stroke" [plotOptions]="chartOptions.plotOptions"
    [responsive]="chartOptions.responsive" [markers]="chartOptions.markers"></apx-chart>
</div>