@import "../colors.scss";

.home-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    gap: 2rem;
    background-color: transparent;
    position: fixed;
    width: 100%;

    .nav-item {
        cursor: pointer;
        font-size: 1.3vmax;

        &.active {
            color: $primary-flash-green;
        }

        &:hover {
            color: $primary-button-hover;
        }
    }
}


@media (max-width:500px) {
    .nav-item{
        font-size: 1.7vmax !important; 
    }
    .home-header{
        padding-right: 1rem;
    }
}