@import "../../colors.scss";

.exp-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: auto;
    background-color: $primary-dark-bg;
    color: white;
}


.exp-counter-wrapper {
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
    align-items: center;
    justify-content: center;

    #exp-count {
        font-size: 9vmax;
        font-family: 'Bruno Ace';
    }

    #exp-counter-label {
        font-size: 1.5vmax;
    }
}

.exp-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 60%;
    overflow: auto;
    padding-bottom: 2.5rem;
    position: relative;

    &:before {
        content: "";
        width: 27%;
        height: 38%;
        border-bottom: 3px solid $primary-flash-green;
        border-right: 3px solid $primary-flash-green;
        right: 0;
        position: absolute;
        bottom: 0;
    }

    .exp-nav-header {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 2rem;

    }
}

.exp-desc-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position: relative;
    overflow: auto;
}

.exp-nav-item {
    text-decoration: none;
    list-style: none;
    padding: 1rem;
    border-left: 3px solid rgb(63, 63, 63);
    cursor: pointer;
    font-size: 1.3vmax;

    &:hover {
        background-color: $primary-button-hover;
        color: black;
        border-color: $primary-button-hover;
    }

    &.active {
        border-left: 3px solid $primary-flash-green;
        color: $primary-flash-green;
        background-color: #161616;

    }
}

.exp-ruler.bottom {
    background-color: $primary-flash-green;
    height: 3px;
    width: 35%;
    margin-top: 3rem;
    margin-left: auto;
}

.exp-ruler.right {
    height: 35%;
    margin-left: -2rem;
    margin-top: auto;
    border-left: 3px solid $primary-flash-green;
    width: 3px;
}

.exp-desc-content {
    ul {
        padding-right: 2rem;

        li {
            font-size: 1.3vmax;
        }

        li:not(:first-child) {
            margin-top: 1rem;
        }
    }

    overflow: auto;


}

.centre-container {
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.exp-ruler {
    background-color: $primary-flash-green;
    height: 3px;
    width: 25%;
}

.exp-ruler-bottom {
    background-color: $primary-flash-green;
    height: 3px;
    width: 25%;
    align-self: end;
}

@media (max-width:500px) {

    #exp-counter-label{
        font-size: 1.7vmax !important;
    }
    
    .exp-container{
        flex-direction: column;
    }
    .exp-nav-container{
        width: 80%;
    }
    .headline-exp{
        font-size: 1.7vmax !important;
    }
    .exp-nav-item{
        font-size: 1.6vmax;
    }
    .exp-counter-wrapper{
        padding: 0;
    }
    .exp-desc-content{
        ul{
            li{
                font-size: 1.7vmax;
            }
        }
    }
}