<div class="experience-container">
    <div class="exp-counter-wrapper">
        <div id="exp-count">
            2.5
        </div>
        <div id="exp-counter-label">
            Total Years of Experience
        </div>
    </div>
    <div class="exp-nav-container">
        <div class="exp-nav-header">
            <img src="assets/img/circle-icon.svg">
            <p style="text-wrap: nowrap;">Where I've worked</p>
            <hr class="exp-ruler">
        </div>
        <div class="exp-desc-container">
            <div class="exp-nav-bar">
                <ul>
                    <li class="exp-nav-item active">NielsenIQ</li>
                    <li class="exp-nav-item">TCS</li>
                    <li class="exp-nav-item">scAI</li>
                </ul>
            </div>
            <div class="exp-desc-content">
                <ul>
                    <li>Working for NielsenIQ client deliverables.
                    <li>Providing solutions for Business Intelligence - Data analytics team, taking care of complete
                        front-end of the application and at the same time providing supportfor Java-backend as well
                        which is embedded with Microstrategy BI SDK summary.</li>
                    <li>Worked on creating jenkins pipeline for environment based deployment</li>
                    <li>Working in Agile Environment, applied Agile Test Practices SCRUM , Scripted Test Cases for Test
                        Driven Development.</li>
                </ul>
                <hr class="exp-ruler bottom">
            </div>
            <div class="exp-ruler right"></div>

        </div>
    </div>
</div>