<div class="exp-container">
    <div class="exp-counter-wrapper">
        <div id="exp-count">
            {{experience}}
        </div>
        <div id="exp-counter-label">
            Total Years of Experience
        </div>
    </div>
    <div class="exp-nav-container">
        <div class="exp-nav-header">
            <img src="assets/img/circle-icon.svg">
            <p style="text-wrap: nowrap;font-size: 1.5vmax;">Where I've worked</p>
            <hr class="exp-ruler">
        </div>
        <div class="exp-desc-container">
            <div class="exp-nav-bar">
                <ul>
                    <li class="exp-nav-item" [ngClass]="exp.isActive?'active':''"
                        *ngFor="let exp of expContent; let i = index" (click)="switchActive(exp.companyName,i)">
                        {{exp.companyName}}</li>
                </ul>
            </div>
            <div class="exp-desc-content">
                <ul>
                    <li *ngFor="let desc of expContent[activeExpIndex].description">{{desc}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>