@import "../../colors.scss";

.experience-container {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7rem;
}


.exp-counter-wrapper {
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
    align-items: center;
    justify-content: center;
    height: 100vh;

    #exp-count {
        font-size: 13rem;
        font-family: 'Bruno Ace';
    }

    #exp-counter-label {
        font-size: 2rem;
    }
}

.exp-nav-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 50%;

    .exp-nav-header {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 2rem;

        .exp-ruler {
            background-color: $primary-flash-green;
            height: 3px;
            width: 25%;
        }
    }
}

.exp-desc-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    // border-bottom: 3px solid $primary-flash-green;
    padding-bottom: 3rem;
}

.exp-nav-item {
    text-decoration: none;
    list-style: none;
    padding: 1rem;
    border-left: 3px solid rgb(63, 63, 63);
    cursor: pointer;

    &:hover {
        background-color: $primary-button-hover;
        color: black;
        border-color: $primary-button-hover;
    }

    &.active {
        border-left: 3px solid $primary-flash-green;
        color: $primary-flash-green;
        background-color: #161616;

    }
}

.exp-ruler.bottom {
    background-color: $primary-flash-green;
    height: 3px;
    width: 35%;
    margin-top: 3rem;
    margin-left: auto;
}

.exp-ruler.right {
    height: 35%;
    margin-left: -2rem;
    margin-top: auto;
    border-left: 3px solid $primary-flash-green;
}

.exp-desc-content {
    ul {
        padding-right: 2rem;
    }
}