@import "../../colors.scss";

.home-container {
    background-color: $primary-dark-bg;
    width: 100vw;
    height: 100vh;
}

.home-polygon {
    background-image: linear-gradient(#181818D4, #0E0E0E00);
    position: absolute;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    width: 100vw;
    height: 100vh;

    .home-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        color: white;
        gap: 2rem;
        margin-top: 1rem;
        font-size: 1.6rem;
        padding: 1.5rem 7rem 1.5rem 2rem;


        .nav-item {
            cursor: pointer;

            &.active {
                color: $primary-flash-green;
            }

            &:hover {
                color: $primary-button-hover;
            }
        }
    }
}

.home-content {
    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 7rem;
    justify-content: space-between;
    height: 100vh;
    align-items: center;

    .home-left-container {
        display: flex;
        flex-direction: column;
        flex: 1;

        p:first-child {
            font-size: 4rem;
            color: $secondary-text-color;
        }

        p:nth-child(2) {
            font-size: 7rem;
        }

        p:nth-child(3) {
            font-size: 4rem;
            color: $secondary-text-color;

            #job-role {
                color: $primary-flash-green;
            }
        }

        .profile-desc {
            padding-left: 2rem;
            text-wrap: wrap;
            width: 50%;
            font-size: 1.6rem;
            line-height: 2rem;
        }
    }

    .home-right-container {
        padding-top: 6rem;
        padding-right: 7rem;
    }
}

.desc-container {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    align-items: center;
}

.download-cv-bt {
    padding: 2rem;
    cursor: pointer;
    border-right: 2px solid $primary-flash-green;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    transition: 100ms height ease-in-out;
    border-radius: 10px;
    transition: padding 200ms ease-in-out, background-color 200ms ease-in-out;

    &:hover {
        background-color: #161616;
        padding: 1rem 3rem 1rem 3rem;

        &::after {
            content: "Download CV";
        }
    }
}