<div class="home-container">
    <div class="home-polygon">
        <div class="home-header">
            <div class="nav-item active">Home</div>
            <div class="nav-item">Skills</div>
            <div class="nav-item">Experience</div>
            <div class="nav-item">Contact</div>
        </div>
    </div>
    <div class="home-content">
        <div class="home-left-container" >
            <p>
                <span class="first-line">Hello it's me</span>
                <br>
                <span class="second-line">Gyanesh Sharma</span>
                <br>
                <p class="first-line">and I'm a, <p class="typewriter-forward">Front End Developer</p>
            <div class="desc-container">
                <div class="download-cv-bt">
                    <img src="assets/img/download.svg">
                </div>
                <div class="profile-desc">
                    As a compassionate full-stack
                    developer, I blend technical expertise
                    with a genuine passion for creating
                    impactful and user-centric digital
                    experiences.
                </div>
            </div>
        </div>
        <div class="home-right-container">
            <img src="assets/img/hacker.png">
        </div>
    </div>
</div>

<app-exp-page></app-exp-page>
<app-skills-page></app-skills-page>