<div class="home-container" id="home-page">
    <div class="home-polygon">
    </div>
    <div class="home-content">
        <div class="home-left-container">
            <p>
                <span class="first-line">Hello it's me</span>
                <br>
                <span class="second-line">Gyanesh Sharma</span>
                <br>
            <p class="first-line">and I'm a,
            <p class="typewriter-forward">Front End Developer</p>
            <div class="desc-container">  
                <div class="download-cv-bt" (click)="downloadCV()">
                    <img src="assets/img/download.svg">
                </div>
                <div class="profile-desc">
                    As a compassionate full-stack
                    developer, I blend technical expertise
                    with a genuine passion for creating
                    impactful and user-centric digital
                    experiences.
                </div>
            </div>
        </div>
        <div class="home-right-container">
            <img src="assets/img/hacker.png">
        </div>
    </div>
</div>

<div class="toast-msg">
    <div class="toast-msg-icon">
        <img src="assets/img/correct.png">
    </div>
    <div class="toast-msg-text">
        CV Downloaded!
    </div>
</div>

<div style="display: flex; justify-content: center;">
    <div class="scroll-down" (click)="scrollPage('exp-page', $event)">
        <div>
        <img src="assets/img/scroll-down.svg">
    </div>
</div>